# My own excludes
configure.txt
configure.md
static-admin.tgz

# The .env file may contain data values using in settings.py
# For security, don't commit it to Git!
.env
local_settings.py
__pycache__/
*.py[cod]
/build
# For exam, include the database
#db.sqlite3
docs/
# output of 'manage.py collectstatic'
staticfiles/
# Virtualenv is recreated as needed.
venv/
env/

# code coverage
.coverage
htmlcov/
/coverage
.mypy_cache

# logs, etc
*.log

# Pydev (Eclipse) and VSCode
.idea
.project
.pydevproject
.vscode/
